@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* color: white; */
}

body {
  /* background: black !important; */
}

.messages {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scrollbar-width: none;
  margin-bottom: 10px;
}

/* .bgg {
  background: transparent !important;
  z-index: -10;
} */

.chakra-input__right-element {
  background: transparent !important;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, .281)
}

::-webkit-scrollbar-thumb:hover {
  background: #555
}